@import '/node_modules/modern-normalize/modern-normalize.css';

body {
  margin: 0;
  font-family: Montserrat;
  background-color: rgba(1, 1, 1, 1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Montserrat,
    monospace;
}
